.fiery-text {
    font-family: 'Arial', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: transparent; /* Set text color to transparent */
    background: linear-gradient(to right, #ff5733, #ffce38, #ff5733); /* Create a gradient with fiery colors */
    background-size: 200% auto;
    animation: fieryAnimation 2s linear infinite alternate; /* Apply animation */
    -webkit-background-clip: text; /* Clip background to text */
    background-clip: text; /* Clip background to text */
  }
  
  @keyframes fieryAnimation {
    to {
      background-position: right bottom; /* Move gradient position */
    }
  }